.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(109, 65, 252);
}

.navbarButton {
    background-color: rgb(109, 65, 252);
    color: white;
    border: none;
}